#id-app-skeleton-layout-error-root {
   color: white;
}

#id-app-skeleton-layout-error-root .container {
   margin-top: 3.75rem;
   text-align: center;
}

#id-app-page-error-code {
   font-size: 7rem;
}

#id-app-page-error-description {
   font-size: 1rem;
}