.app-page-home-videogame .h4 {
   font-size: 1.2rem;
}

.app-page-home-platform-items-header {
   font-size: 0.85rem;
   text-align: center;
   vertical-align: middle !important;
}

.app-page-home-platform-items-levels {
   font-size: 0.85rem;
   text-align: center;
   vertical-align: middle !important;
}

.app-page-home-platform-item {
   text-align: center;
}

.app-page-home-platform-item-button {
   width: 80%;
   margin-top: 0.3rem;
   margin-bottom: 0.3rem;
   font-size: 0.9rem;
   text-align: center;
}

.app-page-home-source-item-name {
   font-size: 0.85rem;
   text-align: center;
}

.app-page-home-source-item-provider {
   font-size: 0.85rem;
   text-align: center;
}

.app-page-home-comment {
   margin-bottom: 1rem;
}

.app-page-home-comment-header {
   font-size: 1rem;
}

.app-page-home-comment-description {
   font-size: 0.95rem;
}