html {
   font-size: 14px;
}

.progress-bar {
   font-size: 0.85rem;
}

.table-code {
   font-size: 0.95rem;
}

.page-enter {
   opacity: 0.01;
   transform: translateX(-100%);
}

.page-enter-active {
   opacity: 1;
   transform: translateX(0%);
   transition: all 300ms ease-in;
}

.page-exit {
   opacity: 1;
   transform: translateX(0%);
}

.page-exit-active {
   opacity: 0.01;
   transform: translateX(100%);
   transition: all 300ms ease-out;
}